.heart-softeners, .general-quran {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

body > div > div {
    max-width: 300px;
}

p {
    margin: 4px;
}

* {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}